<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>UI_FULLBAR.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1115,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1115,52}}</string>
        <key>sourceSize</key>
        <string>{1115,52}</string>
      </dict>
      <key>UI_COLORBAR (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{1105,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1105,38}}</string>
        <key>sourceSize</key>
        <string>{1105,38}</string>
      </dict>
      <key>UI_COLORBAR (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{1105,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1105,38}}</string>
        <key>sourceSize</key>
        <string>{1105,38}</string>
      </dict>
      <key>UI_COLORBAR (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{1105,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1105,38}}</string>
        <key>sourceSize</key>
        <string>{1105,38}</string>
      </dict>
      <key>UI_COLORBAR (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{1105,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1105,38}}</string>
        <key>sourceSize</key>
        <string>{1105,38}</string>
      </dict>
      <key>BTN_BLUE_RECT_OUT.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{381,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{381,138}}</string>
        <key>sourceSize</key>
        <string>{381,138}</string>
      </dict>
      <key>CRS_ARROW.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,585},{120,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,138}}</string>
        <key>sourceSize</key>
        <string>{120,138}</string>
      </dict>
      <key>BTN_GREEN_RECT_OUT.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,204},{381,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{381,138}}</string>
        <key>sourceSize</key>
        <string>{381,138}</string>
      </dict>
      <key>BTN_ORANGE_SQ.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,585},{114,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,94}}</string>
        <key>sourceSize</key>
        <string>{114,94}</string>
      </dict>
      <key>CRS_HAND.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,585},{99,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,135}}</string>
        <key>sourceSize</key>
        <string>{99,135}</string>
      </dict>
      <key>SYMB_INFO.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,684},{32,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,84}}</string>
        <key>sourceSize</key>
        <string>{32,84}</string>
      </dict>
      <key>SYMB_WARNING.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,684},{18,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,87}}</string>
        <key>sourceSize</key>
        <string>{18,87}</string>
      </dict>
      <key>UI_ETCBAR (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{276,204},{354,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{354,86}}</string>
        <key>sourceSize</key>
        <string>{354,86}</string>
      </dict>
      <key>UI_STAR_NORMAL.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,204},{194,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,195}}</string>
        <key>sourceSize</key>
        <string>{194,195}</string>
      </dict>
      <key>BTN_SLIDER (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{362,399},{181,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,45}}</string>
        <key>sourceSize</key>
        <string>{181,45}</string>
      </dict>
      <key>UI_LOCK.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,580},{96,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,134}}</string>
        <key>sourceSize</key>
        <string>{96,134}</string>
      </dict>
      <key>BTN_SLIDER (8)_V.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,399},{46,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,180}}</string>
        <key>sourceSize</key>
        <string>{46,180}</string>
      </dict>
      <key>UI_HEART_EMPTY.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,399},{154,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,153}}</string>
        <key>sourceSize</key>
        <string>{154,153}</string>
      </dict>
      <key>UI_STAR_EMTPY.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,204},{194,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,193}}</string>
        <key>sourceSize</key>
        <string>{194,193}</string>
      </dict>
      <key>UI_HEART_FULL.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,553},{154,153}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,153}}</string>
        <key>sourceSize</key>
        <string>{154,171}</string>
      </dict>
      <key>UI_HEART_HALF.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,398},{154,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,153}}</string>
        <key>sourceSize</key>
        <string>{154,153}</string>
      </dict>
      <key>UI_LOCK_OPEN.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,552},{149,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,132}}</string>
        <key>sourceSize</key>
        <string>{149,132}</string>
      </dict>
      <key>BTN_LORANGE_CIRCLE_OUT.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,204},{138,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,142}}</string>
        <key>sourceSize</key>
        <string>{138,142}</string>
      </dict>
      <key>BTN_PLAIN (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{749,346},{69,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,52}}</string>
        <key>sourceSize</key>
        <string>{69,52}</string>
      </dict>
      <key>SYMB_FF.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,398},{99,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,61}}</string>
        <key>sourceSize</key>
        <string>{99,61}</string>
      </dict>
      <key>BTN_PLAIN (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{818,346},{69,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,52}}</string>
        <key>sourceSize</key>
        <string>{69,52}</string>
      </dict>
      <key>BTN_RADIO_IN.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,497},{49,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{49,53}</string>
      </dict>
      <key>SYMB_LEADER.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,550},{98,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,77}}</string>
        <key>sourceSize</key>
        <string>{98,77}</string>
      </dict>
      <key>BTN_RADIO_OUT.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,497},{49,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{49,53}</string>
      </dict>
      <key>SYMB_LEFTARROW.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,648},{93,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,66}}</string>
        <key>sourceSize</key>
        <string>{93,66}</string>
      </dict>
      <key>SYMB_RR.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,398},{96,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,65}}</string>
        <key>sourceSize</key>
        <string>{96,65}</string>
      </dict>
      <key>SYMB_HELP.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,494},{56,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,88}}</string>
        <key>sourceSize</key>
        <string>{56,88}</string>
      </dict>
      <key>SYMB_ RIGHTARROW.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,398},{96,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,58}}</string>
        <key>sourceSize</key>
        <string>{96,58}</string>
      </dict>
      <key>SYMB_REPLAY.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,550},{92,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,79}}</string>
        <key>sourceSize</key>
        <string>{92,79}</string>
      </dict>
      <key>SYMB_STOP.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,642},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>SYMB_PLAY.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,642},{71,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,76}}</string>
        <key>sourceSize</key>
        <string>{71,76}</string>
      </dict>
      <key>SYMB_ BIGX.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,204},{88,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,80}}</string>
        <key>sourceSize</key>
        <string>{88,80}</string>
      </dict>
      <key>SYMB_AWARD.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,204},{82,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,85}}</string>
        <key>sourceSize</key>
        <string>{82,85}</string>
      </dict>
      <key>SYMB_SETTINGS.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,284},{87,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,86}}</string>
        <key>sourceSize</key>
        <string>{87,86}</string>
      </dict>
      <key>SYMB_CHECK.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,289},{81,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,83}}</string>
        <key>sourceSize</key>
        <string>{81,83}</string>
      </dict>
      <key>UI_PANEL.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,370},{87,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,51}}</string>
        <key>sourceSize</key>
        <string>{87,51}</string>
      </dict>
      <key>SYMB_VOLUME.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,550},{89,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,85}}</string>
        <key>sourceSize</key>
        <string>{89,85}</string>
      </dict>
      <key>SYMB_PLUS.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,421},{69,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>BTN_PLAIN (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{887,204},{69,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,52}}</string>
        <key>sourceSize</key>
        <string>{69,52}</string>
      </dict>
      <key>BTN_PLAIN (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{887,273},{69,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,52}}</string>
        <key>sourceSize</key>
        <string>{69,52}</string>
      </dict>
      <key>BTN_HORIZ_SINGLE (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{887,342},{45,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,52}}</string>
        <key>sourceSize</key>
        <string>{45,52}</string>
      </dict>
      <key>BTN_SLIDER_SM (3)_V.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,370},{45,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,63}}</string>
        <key>sourceSize</key>
        <string>{45,63}</string>
      </dict>
      <key>BTN_PLAIN (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{945,491},{69,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,52}}</string>
        <key>sourceSize</key>
        <string>{69,52}</string>
      </dict>
      <key>BTN_SLIDER_SM (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,421},{69,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,52}}</string>
        <key>sourceSize</key>
        <string>{69,52}</string>
      </dict>
      <key>SYMB_MENU.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,490},{79,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>BTN_HORIZ_SINGLE (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{1064,421},{45,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,52}}</string>
        <key>sourceSize</key>
        <string>{45,52}</string>
      </dict>
      <key>SYMB_MUTE.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,550},{75,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,64}}</string>
        <key>sourceSize</key>
        <string>{75,64}</string>
      </dict>
      <key>SYMB_PAUSE.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,614},{44,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,75}}</string>
        <key>sourceSize</key>
        <string>{44,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{1115,716}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
